body {
	font-family: Verdana,helvetica,arial,sans-serif;
	font-size: small;
}

label {
		
}

input[type=submit] {
	font-size: small;
	height: 36px;
}

input[type=text],input[type=password] {
	height: 28px;
	width: 200px;
	font-size: small;
}

div {
	/*border: 1px solid;*/	
}

div.input {
	margin-bottom: 20px;
}

div.form {
	padding: 20px;
	background-color: #eeeeee;
	/*display: inline-block;*/
}

div.errorMessage {
	/*
	background-color:#FFCCCC;
	border:1px solid #CC0000;
	*/
	color: #E00000;
	margin-bottom: 20px;
}

.errorMessage {
	color: #E00000;
}


